FoodOrderingManagementSystem/packages/*
FoodOrderingManagementSystem/FoodOrderingManagementSystem/Content/*
FoodOrderingManagementSystem/FoodOrderingManagementSystem/bin/*
FoodOrderingManagementSystem/FoodOrderingManagementSystem/obj/*
FoodOrderingManagementSystem/FoodOrderingManagementSystem/Scripts/*