
@{
    ViewBag.Title = "Roles";
}

@using FoodOrderingManagementSystem.Models
@model List<role>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">
                    Category
                    <label></label>
                    <label></label>
                    <label></label>
                    <a href="/RoleAdmin/RoleAdd" class="btn btn-primary" accesskey="">Add<i class="material-icons">add</i></a>
                </h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var roles in Model)
                            {
                                <tr>
                                    <td>@roles.role_name</td>

                                    <td class="actions">
                                        <a href="/RoleAdmin/RoleUpdate/@roles.role_id" class="btn btn-modern btn-rounded btn-success mb-2">Update</a>
                                        <a href="#" class="btn btn-modern btn-rounded btn btn-danger roleDel" data-roleid="@roles.role_id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/assets_2/js/required/jquery-1.11.1.min.js"></script>

    <script>
        $(".roleDel").click(function () {
            var result = confirm("Kayıt Silinsin mi? ");
            if (result) {
                var roleID = $(this).data("roleid");

                $.ajax(
                    {
                        type: "POST",
                        url: "/RoleAdmin/RoleDelete/" + roleID,
                        success: function () {
                            alert("Kayıt Silindi");
                            window.location.replace("/RoleAdmin/Index");
                        },
                        error: function () {
                            alert("Hata oluştu");
                            window.location.replace("/RoleAdmin/Index");

                        }
                    });
            }
            else {
                alert("iptal");
            }

        });


    </script>
}



