
@{
    ViewBag.title = "Restaurant Update";
}
@using FoodOrderingManagementSystem.Models

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-content-outer" style="display: block;">
                <div class="block-content-inner">
                    <form action="/RestaurantAdmin/RestaurantUpdate" method="post" role="form">
                        <input type="hidden" name="restaurant_id" value="@Model.restaurant_id" />
                        <div class="form-group">
                            <label>Restaurant Name</label>
                            <br />
                            <input value="@Model.restaurant_name" type="text" class="form-control" id="exampleInputEmail1" name="restaurant_name">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <br />
                            <input value="@Model.restaurant_address" type="text" class="form-control" id="exampleInputEmail1" name="restaurant_address">
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <br />
                            <input value="@Model.phone_number" type="text" class="form-control" id="exampleInputEmail1" name="phone_number">
                        </div>
                        <button type="submit" class="btn btn-primary">Upgrade</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>