@using FoodOrderingManagementSystem.Models
@{

}


@foreach (var restaurant in Model)
{
    <div class="col-sm-3 product Search">
        <span class="product-thumb-info border-0">
            <a href="/RestaurantUser/Index/@restaurant.restaurant_id" class="add-to-cart-product bg-color-primary">
                <span class="text-uppercase text-2">Restorana Git</span>
            </a>
            <a href="/RestaurantUser/Index/@restaurant.restaurant_id">
                <span class="product-thumb-info-image">
                    <img alt=""width="100" height="100" src="@restaurant.image">
                </span>
            </a>
            <span class="product-thumb-info-content product-thumb-info-content pl-0 bg-color-light">
                <a href="/RestaurantUser/Index/@restaurant.restaurant_id">
                    <h4 class="text-4 text-primary">@restaurant.restaurant_name</h4>
                </a>
            </span>
        </span>
    </div>
}


@section script{

    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                    return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val();
                $(".Search").each(function () {
                    if (!Contains($(this).text(), searchText)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}