
@{
    
}

<div class="row justify-content-center py-md-5">
    <div class="col-lg-11">
        <div class="card shadow-sm">
            <div class="card-header">
                <h4 class="mb-0">Kredi Kartı</h4>
            </div>
            <div class="card-body">

                <div class="form-widget">

                    <div class="form-result"></div>

                    <div class="form-process">
                        <div class="css3-spinner">
                            <div class="css3-spinner-double-bounce1"></div>
                            <div class="css3-spinner-double-bounce2"></div>
                        </div>
                    </div>

                    <form class="mb-0" role="form" action="/PaymentUser/PaymentAdd" method="post">

                        <div class="col-12 bottommargin-sm">
                            <label for="username">Kart Üzerinde Yazan İsim</label>
                            <input type="text" name="card_name" placeholder="Selim Gülce" required="" class="form-control">
                        </div>
                        <div class="col-12 bottommargin-sm">
                            <label for="cardNumber">Kart Numarası</label>
                            <div class="input-group">
                                <input type="text" name="card_number" placeholder="Kart numarası" class="form-control" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Tarih</span></label>
                                    <div class="input-group">
                                        <input type="number" placeholder="MM" name="card_month" class="form-control" required="">
                                        <input type="number" placeholder="YY" name="card_year" class="form-control" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mb-4">
                                    <label data-toggle="tooltip" title="" data-original-title="Three-digits code on the back of your card">
                                        CVV
                                        <i class="fa fa-question-circle"></i>
                                    </label>
                                    <input type="text" required="" name="card_cvv" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

